<div class="sidenav-container">
  <mat-drawer-container>
    <mat-drawer #drawer class="sidenav-content" mode="side" [opened]="sideNavService.hasToBeOpened()">
      <div class="spacer">
        <div>
          @if (isLoggedIn()) {
            <p>
              {{ 'sidenav.welcomeUser' | translate: { firstname: "alexis", lastname: "jeanjean" } }}
            </p>
          } @else {
            <p>{{translateValues.welcomeGuest}}</p>
          }
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
          <p>Auto-resizing sidenav</p>
        </div>
        @if (isLoggedIn()) {
          <div class="footer">
            <p (click)="logout()">{{ translateValues.logout }}</p>
          </div>
        }
      </div>
    </mat-drawer>

    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>
