.toolBar {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: auto;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo {
  height: 3rem;
  max-height: 100%;
  margin: 0.3rem 0;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--secondary-color);
  gap: 0.5rem;
}
.logoDiv:hover {
  cursor: pointer;
  background-color: white;
  padding-right: 0.5rem;
  transition: 100ms;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--secondary-color);
  text-decoration: none;
  margin: 0 0.5rem;
  font-size: 1rem;
}
.link:hover {
  cursor: pointer;
  background-color: white;
  padding: 0 0.5rem;
  transition: 100ms;
  border-radius: 5rem;
  //scale: 1.1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.langSelector {
  border-left: 1px solid var(--secondary-color);
  align-items: center;
}

.langSelectorButton {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  cursor: pointer;
  padding: 0;
  color: var(--secondary-color);
}

.active-link {
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

mat-icon {
  margin: 1rem;
}

.test:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
