<mat-card class="reservation-card" appearance="outlined">
  <mat-card-header class="reservation-card-header">
    <div>
      <img class="reservation-card-header-image" src="{{reservation.lieuImages.at(0)}}" alt="lieu_image">
    </div>
    <div>
      <mat-card-title class="card-title">
        {{'sidenav.reservationCardTitle' | translate: { startDate: reservation.start_date, endDate: reservation.end_date } }}
      </mat-card-title>
      <mat-card-subtitle>
        {{'sidenav.reservationCardSubtitle' | translate: { reference: reservation.reference } }}
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
