<mat-spinner *ngIf="isLoading; else normalDisplay"></mat-spinner>
<ng-template #normalDisplay>
  <mat-icon mat-button mat-dialog-close class="close">close</mat-icon>
  <h2 mat-dialog-title>Détails de la reservation de M. ou Mme. {{reservation.nom }}</h2>
  <mat-dialog-content>
    <div>
      <p>Prénom: {{ reservation.prenom }}</p>
      <p>Nom: {{ reservation.nom }}</p>
    </div>
    <p>Email: {{ reservation.email }}</p>
    <p>Date de début: {{ reservation.dateDebut | date: "dd/MM/yyyy" }}</p>
    <p>Date de fin: {{ reservation.dateFin | date: "dd/MM/yyyy" }}</p>
    <p>Nombre de personnes: {{ reservation.nbPersonnes }}</p>
    <p>Prix: {{reservation.prix | currency}}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngFor="let action of reservationsActions | keyvalue" mat-button mat-dialog-close cdkFocusInitial (click)="updateReservation(action.key)">{{action.value}}</button>
  </mat-dialog-actions>
</ng-template>
