.example-container {
  //background-color: red;
  //z-index: 9999;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.oui {
  background-color: green;
  min-height: 100%;
}
