<app-title-picture title={{contactTranslateValues.title}}></app-title-picture>
<div class="contactPage">
  <mat-card class="book-form-card">
    <mat-card-header>
      <mat-card-title>{{contactTranslateValues.card?.bookTitle}}</mat-card-title>
      <mat-card-subtitle>{{contactTranslateValues.card?.bookSubtitle}}</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="bookForm" (ngSubmit)="onBookSubmit()" class="book-form">
      <div class="form_div">
        <mat-form-field appearance="outline">
          <mat-label>{{contactTranslateValues.card?.labels?.email}}</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <div class="date_attendees">
          <mat-form-field appearance="outline" matTooltip="{{contactTranslateValues.card?.tooltips.datePicker}}" style="width: 70%;">
            <mat-label>{{contactTranslateValues.card?.labels.date}}</mat-label>
            <mat-date-range-input [rangePicker]="journeyDatePicker" [min]="minDate" [max]="maxDate">
              <input matStartDate placeholder="{{contactTranslateValues.card?.labels.arrival}}" formControlName="arrivalDate">
              <input matEndDate placeholder="{{contactTranslateValues.card?.labels.departure}}" formControlName="departureDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="journeyDatePicker" (click)="reinitDate()"></mat-datepicker-toggle>
            <mat-date-range-picker #journeyDatePicker></mat-date-range-picker>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 25%;" matTooltip="{{contactTranslateValues.card?.tooltips.nbPersons}}">
            <mat-label>{{contactTranslateValues.card?.labels?.nbPersons}}</mat-label>
            <mat-select placeholder="{{contactTranslateValues.card?.labels?.nbPersons}}" formControlName="numberOfAttendees">
              <mat-option [value]=""></mat-option>
              <mat-option [value]="1">1</mat-option>
              <mat-option [value]="2">2</mat-option>
              <mat-option [value]="3">3</mat-option>
              <mat-option [value]="4">4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false" *ngIf="nbAttendees" class="attendees_accordion">
          <mat-expansion-panel [hideToggle]="false">
            <mat-expansion-panel-header>{{contactTranslateValues.card?.labels?.attendees}}</mat-expansion-panel-header>
            <h5>{{contactTranslateValues.card?.labels?.attendeesSubtitle}}</h5>
            <div formArrayName="attendees">
              <div *ngFor="let attendee of attendeesFormArray.controls; let i = index" [formGroupName]="i">
                <div class="attendees_infos">
                  <mat-form-field appearance="outline">
                    <mat-label>{{contactTranslateValues.card?.labels?.firstName}}</mat-label>
                    <input matInput formControlName="firstName" required>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>{{contactTranslateValues.card?.labels?.lastName}}</mat-label>
                    <input matInput formControlName="lastName" required>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="bookForm.invalid" matTooltip="{{contactTranslateValues.card?.tooltips.submit}}">
        {{contactTranslateValues.card?.labels?.submit}}
      </button>
    </form>
  </mat-card>
  <mat-card class="contact-form-card">
    <mat-card-header>
      <mat-card-title>{{contactTranslateValues.card?.contactTitle}}</mat-card-title>
      <mat-card-subtitle>{{contactTranslateValues.card?.contactSubtitle}}</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="contactForm" (ngSubmit)="onContactSubmit()" class="contact-form">
      <div class="form_div">
        <div class="fullName">
          <mat-form-field appearance="outline">
            <mat-label>{{contactTranslateValues.card?.labels?.firstName}}</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{contactTranslateValues.card?.labels?.lastName}}</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>{{contactTranslateValues.card?.labels?.email}}</mat-label>
          <input matInput type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{contactTranslateValues.card?.labels?.message}}</mat-label>
          <textarea matInput minlength="10" formControlName="message" required></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid" matTooltip="{{contactTranslateValues.card?.tooltips.submit}}">
        {{contactTranslateValues.card?.labels?.submit}}
      </button>
    </form>
  </mat-card>
</div>
