<mat-card class="book-form-card">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate" style="margin-top: 10px;"></mat-progress-bar>
  <mat-card-header>
    <mat-card-title>{{translateValues.card?.bookTitle}}</mat-card-title>
    <mat-card-subtitle>{{translateValues.card?.bookSubtitle}}</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="bookForm" (ngSubmit)="onBookSubmit()" class="book-form">
    <div class="form_div">
      <div class="fullName">
        <mat-form-field appearance="outline">
          <mat-label>{{translateValues.card?.labels?.firstName}}</mat-label>
          <input matInput maxlength="50" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{translateValues.card?.labels?.lastName}}</mat-label>
          <input matInput maxlength="50" formControlName="lastName" required>
        </mat-form-field>
      </div>
      <div class="supl_infos">
        <mat-form-field appearance="outline">
          <mat-label>{{translateValues.card?.labels?.email}}</mat-label>
          <input matInput maxlength="50" type="email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{translateValues.card?.labels?.phone}}</mat-label>
          <input matInput maxlength="20" type="tel" formControlName="phone" required>
        </mat-form-field>
      </div>
      <div class="date_attendees">
        <mat-form-field appearance="outline" style="width: 70%;">
          <mat-label>{{translateValues.card?.labels.date}}</mat-label>
          <mat-date-range-input [rangePicker]="journeyDatePicker" [dateFilter]="myFilter" [min]="minDate" [max]="maxDate" matTooltip="{{translateValues.card?.tooltips.datePicker}}">
            <input matStartDate placeholder="{{translateValues.card?.labels.arrival}}" formControlName="arrivalDate">
            <input matEndDate placeholder="{{translateValues.card?.labels.departure}}" formControlName="departureDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix matTooltip="{{translateValues.card?.tooltips.datePicker}}" [for]="journeyDatePicker" (click)="reinitDate()"></mat-datepicker-toggle>
          <mat-date-range-picker #journeyDatePicker></mat-date-range-picker>
          <mat-hint>{{translateValues.card?.labels.dateHint}}</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 25%;" matTooltip="{{translateValues.card?.tooltips.nbPersons}}">
          <mat-label>{{translateValues.card?.labels?.nbPersons}}</mat-label>
          <mat-select placeholder="{{translateValues.card?.labels?.nbPersons}}" formControlName="numberOfAttendees">
            <mat-option [value]="1">1</mat-option>
            <mat-option [value]="2">2</mat-option>
            <mat-option [value]="3">3</mat-option>
            <mat-option [value]="4">4</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-accordion displayMode="flat" [multi]="true" [hideToggle]="false" *ngIf="nbAttendees" class="attendees_accordion">
        <mat-expansion-panel [hideToggle]="false">
          <mat-expansion-panel-header>{{translateValues.card?.labels?.attendees}}</mat-expansion-panel-header>
          <h5>{{translateValues.card?.labels?.attendeesSubtitle}}</h5>
          <div formArrayName="attendees">
            <div *ngFor="let attendee of attendeesFormArray.controls; let i = index" [formGroupName]="i">
              <div class="attendees_infos">
                <mat-form-field appearance="outline">
                  <mat-label>{{translateValues.card?.labels?.firstName}}</mat-label>
                  <input matInput formControlName="prenom" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>{{translateValues.card?.labels?.lastName}}</mat-label>
                  <input matInput formControlName="nom" required>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <button mat-raised-button style="margin-top: 10px;"
    color="primary" type="submit" [disabled]="bookForm.invalid" matTooltip="{{translateValues.card?.tooltips.book}}">
      {{translateValues.card?.labels?.book}}
    </button>
  </form>
</mat-card>
