.all_res_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 12px;
  margin-top: 1rem;
}

mat-card {
  flex: 0 1 300px;
}

mat-chip.canceled, mat-chip.rejected {
  background-color: var(--canceled-or-rejected) !important;
}

mat-chip.accepted {
  background-color: var(--accepted) !important;
}

mat-chip.pending {
  background-color: var(--pending) !important;
}
